---
const headers = [
  "Star Academy Of Montessori",
  "Tuition Fee",
  "Tuition after Fee Reduction",
];

const body = [
  ["5 Days of week ", "$1350", "$805"],
  ["3 Days of week ", "$825", "$500"],
  ["2 Days of week ", "$575", "$425"],
  ["Registration", "$100 Annual", "N/A"],
  ["Music Fee ", "$150 Annual", "N/A"],
  ["Martial Art", "$150 Annual", "N/A"],
];
---

<div class="mt-4 w-full overflow-x-auto">
  <table class="mx-auto">
    <thead>
      <tr class="bg-tertiary text-center">
        {
          headers.map((item, index) => {
            let className =
              "w-1/3 min-w-[160px] border-l border-t border-b border-[#E8E8E8] px-3 py-4 text-lg font-medium lg:px-4 lg:py-7";
            if (index + 1 === headers.length) {
              className = `${className} border-r`;
            }
            return <th class={className}>{item}</th>;
          })
        }
      </tr>
    </thead>
    <tbody>
      {
        body.map((tableRow) => (
          <tr>
            {tableRow.map((tableData, index) => {
              let className =
                "border-b border-l border-[#E8E8E8]  px-2 py-5 text-center text-base font-medium";

              if (index % 2 === 0) {
                className = `${className} bg-white`;
              } else {
                className = `${className} bg-[#F3F6FF]`;
              }

              if (index + 1 === tableRow.length) {
                className = `${className} border-r`;
              }

              return <td class={className}>{tableData}</td>;
            })}
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
